{% extends 'base.html' %} {% block title %}SmartEdu | 我的账户{% endblock %} 

{% block bodyParams %}
class="bg-li"
onload="load();"
{% endblock %}

{% block content %}

<!-- authorize -->
<div class="authorize py-5" id="authorize">
  <div class="container pb-xl-5 pb-lg-3">
    <div class="row">
      <div class="col-lg-6">
        <img
          src="{{ url_for('static', filename='images/b2.png') }}"
          alt="image"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-6 mt-lg-0 mt-5">
        <!-- authorize form grid -->
        <div class="authorize-top1">
          <form action="#" method="post" class="authorize-wthree-do">
            <div class="form-group">
              <div class="row">
                <h3>
                  <i class="fa fa-user"></i>
                  更改账户信息
                </h3>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    性别
                  </label>
                  <br />
                  <select name="gender" id="gender">
                    <option value="-1">未选择</option>
                    <option value="1" id="male">男性</option>
                    <option value="0" id="female">女性</option>
                  </select>
                  <br />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    姓名
                  </label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="请输入您的姓名"
                    id="customer_name"
                    name="customer_name"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    手机号码
                  </label>
                  <input
                    class="form-control"
                    type="number"
                    placeholder="请输入您的手机号码"
                    id="mobile"
                    name="mobile"
                  />
                </div>
                <div class="col-md-6">
                  <label>
                    电子邮件
                  </label>
                  <input
                    class="form-control"
                    type="email"
                    placeholder="请输入您的电子邮件地址"
                    id="email"
                    name="email"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    省份
                  </label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="请输入您的省份"
                    id="province"
                    name="province"
                  />
                </div>
                <div class="col-md-6">
                  <label>
                    城市
                  </label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="请输入您的城市"
                    id="city"
                    name="city"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>
                    个性签名
                  </label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="请输入您的个性签名"
                    id="signature"
                    name="signature"
                  />
                </div>
                <div class="col-md-6">
                  <label>
                    生日
                  </label>
                  <input
                    class="form-control"
                    type="date"
                    id="birthday"
                    name="birthday"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <button class="btn btn-cont-w3 btn-block mt-4">
                  完成修改
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- //authorize form grid ends here -->
      </div>
    </div>
  </div>
</div>
<!-- //authorize-->

<script>
  function timestampToTime(timestamp) {
    var date = new Date(timestamp);//时间戳为10位需*1000，时间戳为13位的话不需乘1000
    var Y = date.getFullYear() + '-';
    var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
    var D = (date.getDate() < 10 ? '0'+date.getDate() : date.getDate());
    return Y+M+D;
  }
  function load() {

    var customer_name = JSON.parse({{ g.user | tojson }})["customer_name"];
    var mobile = JSON.parse({{ g.user | tojson }})["mobile"];
    var birthday = timestampToTime(JSON.parse({{ g.user | tojson }})["birthday"]);
    var email = JSON.parse({{ g.user | tojson }})["email"];
    var gender = JSON.parse({{ g.user | tojson }})["gender"];
    var signature = JSON.parse({{ g.user | tojson }})["signature"];
    var province = JSON.parse({{ g.user | tojson }})["province"];
    var city = JSON.parse({{ g.user | tojson }})["city"];

    console.log(mobile);

    if (customer_name != null)
      document.getElementById("customer_name").setAttribute("placeholder", customer_name);
    if (gender != null)
      if (gender == 0) {
        document.getElementById("female").selected = true;
        document.getElementById("male").selected = false;
      } else {
        document.getElementById("female").selected = false;
        document.getElementById("male").selected = true;
      }
    if (mobile != null)
      document.getElementById("mobile").setAttribute("placeholder", mobile);
    if (birthday != null)
      document.getElementById("birthday").value = birthday;
    if (email != null)
      document.getElementById("email").setAttribute("placeholder", email);
    if (gender != null)
      document.getElementById("gender").setAttribute("placeholder", gender);
    if (signature != null)
      document
        .getElementById("signature")
        .setAttribute("placeholder", signature);
    if (province != null)
      document.getElementById("province").setAttribute("placeholder", province);
    if (city != null)
      document.getElementById("city").setAttribute("placeholder", city);
  }
</script>

{% endblock %}
