{% extends 'base.html' %} {% block title %}SmartEdu | Personality exercise {%
endblock %} {% block bodyParams %} class="bg-color-green" {% endblock %} {%
block content %}

<style>
  .ui-pnotify-container {
    padding: 1.4em;
    z-index: 0;
  }
</style>

<!-- banner -->
<div class="banner_w3lspvt-2">
  <ol class="breadcrumb">
    <li
      class="breadcrumb-header"
      style="padding-top:1.5em; padding-bottom:0px;"
    >
      Personality exercise
    </li>
  </ol>
</div>
<!-- //banner -->

<!-- resources -->
<div class="container py-xl-5 py-lg-3">
  <div class="row card-grid-main">
    {% for item in items %}
    <div class="about-grid-main" style="padding: 1.5em; width: 100%;">
      <img
        src="{{ url_for('exe.prob_img', context=item.context) }}"
        class="img-fluid"
        style="border-radius: 0;"
      />
    </div>
    <div style="padding: 1em">
      <div
        class="about-grid-main"
        style="padding: 1.5em; width: 100%; background-color:  #dff0f0;"
      >
        <strong style="font-size: 18px;"
          >Please give your answer :&emsp;
        </strong><br>
        <input type="radio" name="{{ item.context }}" value="A" />&emsp;{{ item.ans_A }}&emsp;&emsp;<br>
        <input type="radio" name="{{ item.context }}" value="B" />&emsp;{{ item.ans_B }}&emsp;&emsp;<br>
        <input type="radio" name="{{ item.context }}" value="C" />&emsp;{{ item.ans_C }}&emsp;&emsp;<br>
        <input type="radio" name="{{ item.context }}" value="D" />&emsp;{{ item.ans_D }}&emsp;&emsp;
        <button
          class="btn btn-cont-w3 btn-block mt-4"
          style="padding: 8px 20px; max-width: 100px;"
          onclick="submit(context='{{ item.context }}');"
        >
          Submit
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- //resources -->

<script>
  function filter(chapter) {
    if (chapter == 0) chapter = "all";
    location.href = '{{ url_for("page." + url) }}?chapter=' + chapter;
  }

  function openPostWindow(url, params) {
    var newWin = window.open();
    var formStr = "";
    formStr =
      '<form style="visibility:hidden;" method="POST" action="' +
      url +
      '">' +
      '<input type="hidden" name="contexts" value="' +
      params +
      '" />' +
      "</form>";

    newWin.document.body.innerHTML = formStr;
    newWin.document.forms[0].submit();

    return newWin;
  }

  function submit(context) {
    var ans = $('input[type="radio"][name="' + context + '"]:checked').val();
    var data = { context: context, ans: ans };
    $.ajax({
      url: "{{ url_for('exe.check_ans') }}",
      type: "post",
      data: data,
      async: false,
      success: function(response) {
        var notice = PNotify.notice({
          title: "",
          titleTrusted: true,
          type: "info",
          styling: "bootstrap4",
          text: "<br /><strong>> 是否查看详细解答？ </strong><br /><br />",
          textTrusted: true,
          hide: false,
          stack: {
            modal: true,
            overlayClose: true
          },
          modules: {
            Buttons: {
              closer: true,
              sticker: false
            },
            History: {
              history: false
            },
            Confirm: {
              confirm: true,
              buttons: [
                {
                  text: "OK",
                  primary: true,
                  click: function(notice) {
                    notice.close();
                    openPostWindow(
                      window.location.protocol +
                        "//" +
                        window.location.host +
                        "{{url_for('page.answer')}}",
                      [context]
                    );
                  }
                },
                {
                  text: "Cancel",
                  click: function(notice) {
                    notice.close();
                  }
                }
              ]
            }
          }
        });

        if (response == "correct") {
          notice.update({ title: "回答正确!", type: "success" });
          // notice.alert();
        } else if (response == "wrong") {
          notice.update({ title: "回答错误!", type: "error" });
          // notice.alert();
        } else if (response == "unselected") {
        } else if (response == "error") {
        }
      }
    });
  }
</script>

{% endblock %}
