<!DOCTYPE html>
<html lang="zh">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <script>
      addEventListener(
        "load",
        function() {
          setTimeout(hideURLbar, 500);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap.css') }}"
    />
    <!-- Bootstrap-Core-CSS -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css') }}"
      type="text/css"
      media="all"
    />
    <!-- Style-CSS -->
    <link
      href="{{url_for('static', filename='css/font-awesome.min.css') }}"
      rel="stylesheet"
    />

    <!-- PNotify-CSS -->
    <link
      href="{{url_for('static', filename='css/pnotify.css') }}"
      rel="stylesheet"
    />

    <!-- Animate-CSS -->
    <link
      href="{{url_for('static', filename='css/animate.css') }}"
      rel="stylesheet"
    />

    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link
      href="http://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
      rel="stylesheet"
    />
    <!-- //Web-Fonts -->

    <!-- JS-Files -->
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/PNotify.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/PNotifyStyleMaterial.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/PNotifyButtons.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/PNotifyConfirm.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/PNotifyMobile.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/PNotifyAnimate.js') }}"
    ></script>
  </head>

  <body onload="load();">
    <script>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message  in messages %}
                  {% if category == 'success' %}
                    PNotify.success({
                      title: '成功',
                      text: '{{ message }}',
                      hide: true,
                      delay: 1500,
                      modules: {
                        Buttons: {
                          closer: true,
                          sticker: false
                        },
                        Animate: {
                          animate: true,
                          inClass: 'rotateInUpRight',
                          outClass: 'rotateOutUpRight'
                        }
                      },
                    });
                  {% endif %}
                  {% if category == 'notice' %}
                    PNotify.notice({
                      title: '通知',
                      text: '{{ message }}',
                      hide: true,
                      delay: 1500,
                      modules: {
                        Buttons: {
                          closer: true,
                          sticker: false
                        },
                        Animate: {
                          animate: true,
                          inClass: 'rotateInUpRight',
                          outClass: 'rotateOutUpRight'
                        }
                      },
                    });
                  {% endif %}
                  {% if category == 'info' %}
                    PNotify.info({
                      title: '信息',
                      text: '{{ message }}',
                      hide: true,
                      delay: 1500,
                      modules: {
                        Buttons: {
                          closer: true,
                          sticker: false
                        },
                        Animate: {
                          animate: true,
                          inClass: 'rotateInUpRight',
                          outClass: 'rotateOutUpRight'
                        }
                      },
                    });
                  {% endif %}
                  {% if category == 'error' %}
                    PNotify.error({
                      title: '遇到错误',
                      text: '{{ message }}',
                      hide: true,
                      delay: 1500,
                      modules: {
                        Buttons: {
                          closer: true,
                          sticker: false
                        },
                        Animate: {
                          animate: true,
                          inClass: 'rotateInUpRight',
                          outClass: 'rotateOutUpRight'
                        }
                      },
                    });
                  {% endif %}
               {% endfor %}
            {% endif %} {% endwith %}

      function clickAccount(){
        username = JSON.parse({{ g.user | tojson }})['username']
        PNotify.notice({
          title: '登录管理',
          text: '<span>亲爱的 ' + username + ' :</span><br /><br /><span>> 欢迎使用北邮智慧教育平台！</span>',
          textTrusted: true,
          icon: 'fa fa-user',
          hide: false,
          modules: {
            Buttons: {
              sticker: false
            },
            Animate: {
              animate: true,
              inClass: 'rotateInDownRight',
              outClass: 'rotateOutDownRight'
            },
            History: {
              history: false
            },
            Confirm: {
              confirm: true,
              buttons: [
                {
                  text: '更改用户信息',
                  click: function() {
                    PNotify.closeAll();
                    location.href = "{{ url_for('auth.modifyAccount') }}";
                  }
                },
                {
                  text: '注销',
                  primary: true,
                  click: function() {
                    PNotify.closeAll();
                    location.href = "{{ url_for('auth.logout') }}";
                  }
                }
              ]
            },
          }
        });
      }
    </script>

    <!-- main banner -->
    <div class="main-top" id="home">
      <!-- header -->
      <header>
        <div class="container-fluid">
          <div
            class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3"
          >
            <!-- logo -->
            <div id="logo">
              <a href="{{ url_for('page.index') }}">
                <img
                  src="{{url_for('static', filename='images/logo.jpg') }}"
                  width="63px"
                />
                &nbsp;智慧教育平台
              </a>
            </div>
            <!-- //logo -->
            <!-- nav -->
            <div class="nav_w3ls">
              <nav>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop" />
                <ul class="menu">
                  <li><a href="{{ url_for('page.index') }}">课程主页</a></li>
                  <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle toogle-2"
                      >教学资源
                      <span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="#"
                      >教学资源
                      <span class="fa fa-angle-down" aria-hidden="true"></span
                    ></a>
                    <input type="checkbox" id="drop-2" />
                    <ul>
                      <li>
                        <a
                          href="{{ url_for('page.resources') }}"
                          class="drop-text"
                          >所有资源</a
                        >
                      </li>
                      <li>
                        <a href="{{ url_for('page.video') }}" class="drop-text"
                          >教学视频</a
                        >
                      </li>
                      <li>
                        <a href="{{ url_for('page.book') }}" class="drop-text"
                          >书籍课件</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{ url_for('page.exercise') }}"
                          class="drop-text"
                          >练习题目</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle toogle-2"
                      >AI助学
                      <span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="#"
                      >AI助学
                      <span class="fa fa-angle-down" aria-hidden="true"></span
                    ></a>
                    <input type="checkbox" id="drop-2" />
                    <ul>
                      <li>
                        <a
                          href="{{ url_for('statistics.statistics') }}"
                          class="drop-text"
                          >学习统计</a
                        >
                      </li>
                      <li>
                        <a
                          href="{{ url_for('statistics.exam') }}"
                          class="drop-text"
                          >模拟考试</a
                        >
                      </li>
                    </ul>
                  </li>

                  <li><a href="{{ url_for('page.homework') }}">作业助手</a></li>
                </ul>
              </nav>
            </div>
            <!-- //nav -->
            <div class="d-flex mt-lg-1 mt-sm-2 mt-3 justify-content-center">
              <!-- search -->
              <div class="search-w3layouts mr-3">
                <form
                  action="#"
                  method="post"
                  class="search-bottom-wthree d-flex"
                >
                  <input
                    class="search"
                    type="search"
                    placeholder="点此搜索..."
                    name="keyword"
                    required=""
                  />
                  <button class="form-control btn" type="submit">
                    <span class="fa fa-search"></span>
                  </button>
                </form>
              </div>
              <!-- //search -->
              <!-- login -->
              {% if g.user %}
              <a class="login-w3ls btn" onclick="clickAccount();">
                <span class="fa fa-user" aria-hidden="true"></span>
              </a>
              {% else %}
              <a
                class="login-w3ls btn"
                onclick="location.href = '{{ url_for('auth.login') }}';"
              >
                <span class="fa fa-sign-in" aria-hidden="true"></span
              ></a>
              {% endif %}
              <!-- //login -->
            </div>
          </div>
        </div>
      </header>
      <!-- //header -->
    </div>
    <!-- //main banner -->
    <main>
      {% block content %}{% endblock %}
    </main>

    <!-- copyright footer -->
    <footer>
      <div class="copy-bottom bg-li py-4 border-top">
        <div class="container-fluid">
          <div class="d-md-flex px-md-3 position-relative text-center">
            <!-- footer social icons -->
            <div class="social-icons-footer mb-md-0 mb-3">
              <ul class="list-unstyled">
                <li>
                  <a href="#">
                    <span class="fa fa-wechat"></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="fa fa-weibo"></span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- //footer social icons -->
            <!-- copyright -->
            <div class="copy_right mx-md-auto mb-md-0 mb-3">
              <p class="text-bl let">
                Copyright &copy; 2020. SmartEdu All rights reserved.
              </p>
            </div>
            <!-- //copyright -->
            <!-- move top icon -->
            <a href="#home" class="move-top text-center">
              <span class="fa fa-level-up" aria-hidden="true"></span>
            </a>
            <!-- //move top icon -->
          </div>
        </div>
      </div>
    </footer>
    <!-- //copyright footer -->
  </body>
</html>
